{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required type="text" name="name" placeholder="Name.." class="form-control">
                    </div>
                    <div class="form-field">
                        <input required type="email" name="email" placeholder="Email.." class="form-control">
                    </div>
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information</p>
                    <hr>
                    <div class="form-field">
                        <input type="text" name="address" placeholder="Address.." class="form-control">
                    </div>
                    <div class="form-field">
                        <input type="text" name="city" placeholder="City.." class="form-control">
                    </div>
                    <div class="form-field">
                        <input type="text" name="state" placeholder="State.." class="form-control">
                    </div>
                    <div class="form-field">
                        <input type="text" name="zipcode" placeholder="Zip code.." class="form-control">
                    </div>
                    <div class="form-field">
                        <input type="text" name="country" placeholder="Country.." class="form-control">
                    </div>
                </div>
                <hr>
                <input type="submit" value="Continue" id="form-button" class="btn btn-success btn-block">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment">Make payment</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#X2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex: 2"><strong><img src="{{item.product.imageURL}}" class="row-image"></strong></div>
                <div style="flex: 2 "><p>{{ item.product.name}}</p></div>
                <div style="flex: 1"><p>${{ item.product.price|floatformat:2 }}</p></div>
                <div style="flex: 1"><p>{{ item.quantity }}</p></div>
            </div>
            {% endfor %}
            <h5>Items: {{ order.get_cart_items }}</h5>
            <h5>Total:  ${{ order.get_cart_total|floatformat:2 }}</h5>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        var shipping= '{{ order.shipping }}'
        var total = '{{ order.get_cart_total}}'

        if( shipping == 'False' ){
            document.getElementById('shipping-info').innerHTML = ''
        }

        if (user != 'AnonymousUser'){
            document.getElementById('user-info').innerHTML = ''
        }
        if(shipping == 'False' && user != 'AnonymousUser'){
        {#   hide entire form #}
            document.getElementById('form-wrapper').classList.add('hidden');
            document.getElementById('payment-info').classList.remove('hidden')
        }

        var form = document.getElementById('form')
        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('form submitted')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click',function (e){
            submitFormData()
        })
        function submitFormData(){
            console.log('payment button clicked')
            var userFormData = {
                'name': null,
                'email': null,
                'total': total,
            }
            var shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
            }
             if(shipping != 'False'){
                 shippingInfo.address = form.address.value
                 shippingInfo.city = form.city.value
                 shippingInfo.state = form.state.value
                 shippingInfo.zipcode = form.zipcode.value
             }
             if(user == 'AnonymousUser'){
                 userFormData.name = form.name.value
                 userFormData.email = form.email.value
             }

             var url = '/process_order/'
            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'form': userFormData, 'shipping':shippingInfo})
            })
            .then((response)=>response.json())
            .then((data) => {
                 console.log('success:', data);
                 alert('Transaction completed');
                 window.location.href = "{% url 'store' %}"
            })
        }
    </script>
{% endblock content %}